/* Main heading banner image */
h1{
  background-image: url("../img/pattern.jpeg");
}

/* Headings and paragraph font settings */
h1,
h2,
h3,
p{
  font-family: Helvetica;
}

h1,
h2,
h3,
.price{
  font-weight: bold;
}

h1{
  font-size: 100px;
  color: khaki;
  text-align: center;
}

/* Color banners for each h2 subheading */ 

h2{
  font-size: 32px;
  color: white;
  background-color: mediumspringgreen;
}

.frames{
  background-color: lightcoral;
}

.finnish{
  background-color: skyblue;
}

.price{
  color: blue;
}
